{% extends 'base.html.twig' %}

{% block title %}Créer une tâche - {{ parent() }}{% endblock %}

{% block header_title %}Créer une tâche{% endblock %}

{% block content %}
    {{ form_start(form) }}

        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        {{ form_row(form.deadline) }}
        {{ form_row(form.status) }}
        {{ form_row(form.employee) }}

        <button class="button button-submit" type="submit">Ajouter</button>

    {{ form_end(form) }}
{% endblock %}