{% extends 'base.html.twig' %}

{% block title %}{{ project.title }} - {{ parent() }}{% endblock %}

{% block header_title %}
    <div class="flex-header">
        <h1>{{ project.title }}</h1>
        <div class="user-list">
            {% for employee in project.employee %}
                <div class="avatar"> {{ employee.firstName|slice(0, 1)|upper ~ employee.lastName|slice(0, 1)|upper }}</div>
            {% endfor %}
        </div>
        <a class="button" href="{{ path('edit_project', {'id': project.id}) }}">Modifier</a>
    </div>
{% endblock %}

{% block content %}
<div id="tasks-container">
    {% for status, enumStatus in {
        'To Do': constant('App\\Enum\\TaskStatus::ToDo'), 
        'Doing': constant('App\\Enum\\TaskStatus::Doing'), 
        'Done': constant('App\\Enum\\TaskStatus::Done')
    } %}
        <div class="task-column">
            <h2>{{ status }}</h2>
            <div class="tasks-list">
                {% for task in project.tasks %}
                    {% if task.status == enumStatus %}
                        <a class="task" href="{{ path('edit_task', {'id': task.id}) }}">
                            <h3>{{ task.title }}</h3>
                            {% if task.description %}
                                <p>{{ task.description }}</p>
                            {% endif %}
                            <div class="task-infos">
                                <div class="task-deadline">
                                    {% if task.deadline %}
                                        <i class="fa-regular fa-calendar"></i> {{ task.deadline|date('d/m/Y') }}
                                    {% endif %}
                                </div>
                                {% if task.employee %}
                                    <div class="mini-user">
                                        {{ task.employee.firstName|slice(0, 1)|upper ~ task.employee.lastName|slice(0, 1)|upper }}
                                    </div>
                                {% endif %}
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
                <a href="{{ path('add_task', {'id': project.id }) }}" class="task-add">
                    + Ajouter une tâche
                </a>
            </div>
        </div>
        
    {% endfor %}
</div>
{% endblock %}